.app-header {
    height: 70px;
    background-color: #00B090;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-items: center;
    justify-content: center;
    place-content: space-evenly;
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
}

.app-branding {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #1EA083;
    padding: 0 20px;
}

.app-branding img{
    height: 50px;
    width: 50px;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: inherit;
    place-content: inherit;
    height: 100%;
    width: 100%;
}


.app-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    place-items: center;
    justify-content: center;
    place-content: space-evenly;
    height: 100%;
    width: 100%;
}


.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    place-content: space-evenly;
    padding: 0 20px;
    text-decoration: none;
    color: #F4F4F4;
    font-family: Bitter, sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.searchbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    place-content: space-evenly;
    border-right: 2px solid #1EA083;
    border-left: 2px solid #1EA083;
    padding: 0 20px;
    text-decoration: none;
    color: #F4F4F4;
    font-family: Bitter, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.app-branding:hover{
    background-color: #1EA083;
}

.logout{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #1EA083;
    padding: 0 20px;
    text-decoration: none;
    color: #F4F4F4;
    font-family: Bitter, sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.profile{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-decoration: none;
    color: #F4F4F4;
    font-family: Bitter, sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-left: 2px solid #1EA083;

}

.logout:hover{
    background-color: #1EA083;
}
.profile:hover{
    background-color: #1EA083;
}
