.enabled{
    background-color: #00B090;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 200ms;
    outline: none;
    cursor: pointer;
    font-family: Bitter, sans-serif;
}

.enabled:hover{
    background-color: #1EA083;
}

.disabled{
    background-color: #00B090;
    filter: opacity(0.5);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 200ms;
    outline: none;
    cursor: pointer;
    font-family: Bitter, sans-serif;
}

.disabled {
    background-color: #00B090;
    filter: opacity(0.5);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}