.app{
  height: 100vh;
}

.app-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Toastify__toast--default {
  background-color: #00b090;
  border-radius: 10px;
  color: white;
  font-family: Bitter, sans-serif;
  font-weight: bold;
  filter: drop-shadow(0px 0px 8px #232020);
  margin-top: 60px;
}

.Toastify__progress-bar--animated {
  background: white;
}

.Toastify__toast--error {
  border-radius: 10px;
  color: white;
  font-family: Bitter, sans-serif;
  font-weight: bold;
  filter: drop-shadow(0px 0px 8px #232020);
  margin-top: 60px;
}